@import "../../../scss/index.scss";

.list-court {
  .ui.table.inverted.table-courts {
    background-color: transparent;

    th {
      background-color: transparent;
    }

    tr {
      &:hover {
        cursor: pointer;

        td{
          color: $background-light-dark;
        }
      }
    }
  }
}