@import "../../../scss/index.scss";

.list-project {
  height: 55vh;

  .filter {
    margin-right: 5vh;
    text-align: right;
    color: $font-gray;
    .ui.input {
      border-bottom: 0.1vh solid $background-light-dark;
      input {
        color: $font-gray;
        font-style: italic !important;
      }
    }
  }

  .table-projects {
    height: 25vh;
    overflow-y: scroll;
  }

  .ui.table.inverted.table-heads {
    background-color: transparent;
  }

  .ui.table.inverted.table-songs {
    background-color: transparent;
    padding: 10px;

    th {
      background-color: transparent;
    }

    .project-name-cell, .project-delete-cell {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    tr {
      &:hover {
        td {
          color: $background-light-dark;
        }
      }
    }
  }

  .ui.button {
    margin-left: 10px;
    border-radius: 50px;
    background-color: $background-dark;
    border: $border-light-dark 2px solid;
    color: $font-gray;
    font-weight: bold;

    &:hover {
      background-color: $background-light-dark;
      color: $font-dark;
    }
  }
}
