@import "../../scss/index.scss";

.dock-tabpane > div.segment-tab {
  margin: 5px;

  .ui.table.inverted.segment-list {
    background-color: $background-dark;

    th {
      background-color: transparent;
    }

    .selected {
      background-color: blanchedalmond;
    }

    tr {
      &:hover {
        cursor: pointer;
        background-color: whitesmoke;
      }

      td {
        color: $background-light-dark;
      }
    }
  }
}
