$font-light: #fff;
$font-gray: #c8c8c8;
$font-dark: #1b1b1b;

$border-light-dark: #9e9e9e;
$border-gray-light: #3b3b3b;

$background-light-dark: #9e9e9e;
$background-dark: #1b1b1b;
$background-dark-light: #323232;
$background-gray-light: #3b3b3b;
$background-gray-dark: #101010;

$background-gray-light-hover: #494949;

$toastify-success: #1db954;
