@import "_colors.scss";

.ui.modal.basic-modal {
  background-color: $background-dark-gray;

  .header {
    text-align: center;
    color: $font-light;
    background-color: transparent;
    h3 {
      margin: 0;
    }
    i {
      position: absolute;
      right: 10px;
      top: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .content {
    color: $font-light;
    border-top: $background-light-dark 1px solid;
    background-color: transparent;
  }

  .actions {
    border-top: $background-light-dark 1px solid;
    background-color: transparent;
  }
}
